<section class="bg-white">
  <div
    class="mx-auto w-full lg:px-16 max-w-7xl md:px-12 items-center px-8 pt-36">
    <div class="mx-auto text-center max-w-4xl p-10">
      <div>
        <p class="font-extrabold text-5xl text-black font-display">
          An Astro and Tailwind CSS starter template for your newest SaaS
        </p><p
          class="mx-auto max-w-xl mt-4 text-lg text-gray-500 tracking-tight">
          If you could kick the person in the pants responsible for most of your
          trouble, you wouldn't sit for a month
        </p>
      </div><div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <a
          class="items-center justify-center font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
          href="https://github.com/michael-andreuzza/astrosaas">GitHub</a
        >
      </div>
    </div>
  </div>
  <div
    class="mx-auto w-full lg:px-16 max-w-7xl md:px-12 items-center px-8 pt-24">
    <div>
      <img alt="dashboard" class="w-full" src="/dashboard.png" />
    </div>
    <div class="mx-auto pt-12 lg:py-16">
      <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
        <div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/Figma.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/Canva.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/Stripe.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/Gitlab.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/Linear.svg" />
        </div><div class="flex justify-center col-span-1 px-8">
          <img alt="logo" class="max-h-12" src="/Gumroad.svg" />
        </div>
      </div>
    </div>
  </div>
</section>
