---
import { Image } from "@astrojs/image/components";


---

<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2><div
    class="relative mx-auto px-8 max-w-7xl my-24 lg:my-36 lg:px-36 md:px-12"
  >
    <div>
      <div class="mx-auto text-center">
        <h1
          class="text-black mt-4 font-bold lg:text-9xl sm:text-5xl text-5xl tracking-tighter"
        >
          supreme.
        </h1><div class="mx-auto lg:mt-8 max-w-xl">
          <p class="text-zinc-600">
            Welcome to supreme's starter with Astro & Tailwind
          </p>
        </div>
      </div>
      <ol
        role="list"
        class="relative grid grid-cols-1 mt-12 gap-3 sm:grid-cols-2 lg:grid-cols-2"
      >
        <li class="p-4 lg:p-10 border rounded-2xl">
          <div class="">
            <h3 class="text-xl text-accent-400">About</h3>
          </div>
          <p class="mt-2 text-zinc-500">
            This repo is the scaffolding we use at Unwrapped to create new
            Tailwind based HTML templates.
          </p>
        </li>
        <li class="p-4 lg:p-10 border rounded-2xl">
          <div class="">
            <h3 class="text-xl text-accent-400">Structure</h3>
          </div>
          <p class="mt-2 text-zinc-500">
            This scaffolding uses Tailwind CSS Astro to create workflows to make
            esier the development.
          </p>
        </li>
        <li class="p-4 lg:p-10 border rounded-2xl">
          <div class="">
            <h3 class="text-xl text-accent-400">Tailwind CSS</h3>
          </div>
          <p class="mt-2 text-zinc-500">
            A utility-first CSS framework packed with classes like flex, pt-4,
            text-center and rotate-90 that can be composed to build any design,
            directly in your markup.
          </p>
        </li>
        <li class="p-4 lg:p-10 border rounded-2xl">
          <div class="">
            <h3 class="text-xl text-accent-400">Astro</h3>
          </div>
          <p class="mt-2 text-zinc-500">
            Astro is a new kind of static site builder for the modern web.
            Powerful developer experience meets lightweight output.
          </p>
        </li>
      </ol>
    </div>
  </div>
</main>
