<section class="bg-white">
  <div
    class="items-center w-full px-8 pt-36 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="max-w-4xl p-10 mx-auto text-center">
      <div>
        <p class="text-5xl font-extrabold text-black">
          An Astro and Tailwind CSS starter template for your newest SaaS
        </p>
        <p
          class="max-w-xl mx-auto mt-4 text-lg tracking-tight text-neutral-500">
          If you could kick the person in the pants responsible for most of your
          trouble, you wouldn't sit for a month
        </p>
      </div>
      <div class="flex flex-col justify-center gap-3 mt-10 sm:flex-row">
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white duration-200 bg-black border-2 border-black hover:bg-transparent hover:border-black rounded-xl hover:text-black focus:outline-none lg:w-auto focus-visible:outline-black focus-visible:ring-black"
          href="#">Learn more</a
        >
      </div>
    </div>
  </div>
  <div
    class="items-center w-full px-8 pt-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <img class="w-full rounded-3xl" src="/dashboard.png" alt="" />
    <div class="pt-12 mx-auto lg:py-16">
      <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-6 lg:mt-8">
        <div class="flex justify-center col-span-1 px-8">
          <img class="max-h-12" src="/Figma.svg" alt=" logo" />
        </div>
        <div class="flex justify-center col-span-1 px-8">
          <img class="max-h-12" src="/Canva.svg" alt="logo" />
        </div>
        <div class="flex justify-center col-span-1 px-8">
          <img class="max-h-12" src="/Stripe.svg" alt="logo" />
        </div>
        <div class="flex justify-center col-span-1 px-8">
          <img class="max-h-12" src="/Gitlab.svg" alt="logo" />
        </div>
        <div class="flex justify-center col-span-1 px-8">
          <img class="max-h-12" src="/Linear.svg" alt="logo" />
        </div>
        <div class="flex justify-center col-span-1 px-8">
          <img class="max-h-12" src="/Gumroad.svg" alt="logo" />
        </div>
      </div>
    </div>
  </div>
</section>
