<section
  class="bg-white h-screen flex justify-center items-center"
  style="background-image: radial-gradient(circle at center center, rgb(252, 252, 252),rgb(129, 129, 129));">
  <div class="mx-auto w-full lg:px-16 max-w-7xl md:px-12 items-center px-8">
    <div class="mx-auto text-center">
      <div>
        <p class="font-extrabold text-5xl xl:text-7xl text-black font-display">
          Astro SaaS is coming soon, we are centering some divs.
          <span class="xl:block"> Sorry for bothering.</span>
        </p>
        <p
          class="mx-auto max-w-xl mt-4 text-lg lg:text-3xl text-gray-700 tracking-tight">
          While you wait, you can follow me on Twitter <a
            class="text-[#000000] hover:text-black"
            href="https://twitter.com/Mike_Andreuzza">@Mike_Andreuzza</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
