<section id="pricing">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div class="max-w-xl text-center mx-auto">
      <p class="text-sm leading-normal font-bold uppercase text-accent-600">
        Choose a Plan
      </p>
      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl lg:text-4xl mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Select a plan that fits your needs
      </h2>
      <p
        class="text-base leading-normal mt-4 text-base-500 font-medium lg:text-balance"
      >
        Choose a plan that works the best for you and your team. Start small,
        upgrade when you need to.
      </p>
    </div>
    <div
      class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 mt-12 mx-auto"
    >
      <!-- Basic -->
      <div
        class="flex flex-col h-full p-1 lg:py-1 rounded-3xl bg-base-50 ring-4 ring-base-50 border border-base-200"
      >
        <div>
          <div class="flex flex-col gap-4 p-8 bg-white rounded-[1.3rem] h-full">
            <div class="flex items-start justify-between w-full">
              <div>
                <h3
                  class="text-lg leading-normal sm:text-xl md:text-2xl font-medium text-base-900"
                >
                  Basic
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="p-8">
          <p
            class="font-semibold flex lg:text-3xl items-baseline text-2xl tracking-tighter text-base-900"
          >
            <span>$50</span>
            <span
              class="text-sm font-normal font-sans tracking-normal text-base-500"
            >
              /month
            </span>
          </p>
          <div class="w-full mt-4">
            <button
              class="flex items-center justify-center transition-all duration-200 focus:ring-2 focus:outline-none text-base-500 bg-white hover:text-accent-500 ring-1 ring-base-200 focus:ring-accent-500 h-9 px-4 py-2 text-sm font-medium rounded-md w-full"
            >
              Select Plan
            </button>
          </div>
          <div class="mt-8">
            <p
              class="text-sm leading-normal font-medium uppercase text-base-500"
            >
              Basic plan includes:
            </p>
            <ul class="flex flex-col mt-4 gap-y-3 text-base-500" role="list">
              <li class="flex items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="text-base leading-normal"
                  >10,000 questions/month (1 website)</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Pro -->
      <div
        class="flex flex-col h-full p-1 lg:py-1 rounded-3xl bg-base-950 ring-4 ring-base-50 border border-base-200"
      >
        <div>
          <div
            class="flex flex-col gap-4 p-8 bg-white/10 rounded-[1.3rem] h-full"
          >
            <div class="flex items-start justify-between w-full">
              <div>
                <h3
                  class="text-lg leading-normal sm:text-xl md:text-2xl font-medium text-white"
                >
                  Pro
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="p-8">
          <p
            class="font-semibold flex lg:text-3xl items-baseline text-2xl tracking-tighter text-white"
          >
            <span>$100</span>
            <span
              class="text-sm font-normal font-sans tracking-normal text-white/50"
            >
              /month
            </span>
          </p>
          <div class="w-full mt-4">
            <button
              class="flex items-center justify-center transition-all duration-200 focus:ring-2 focus:outline-none text-base-500 bg-white hover:text-accent-500 ring-1 ring-base-200 focus:ring-accent-500 h-9 px-4 py-2 text-sm font-medium rounded-md w-full"
            >
              Select Plan
            </button>
          </div>
          <div class="mt-8">
            <p
              class="text-sm leading-normal font-medium uppercase text-base-200"
            >
              Pro plan includes:
            </p>
            <ul class="flex flex-col mt-4 gap-y-3 text-base-200" role="list">
              <li class="flex items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="text-base leading-normal"
                  >50,000 questions/month (1 website)</span
                >
              </li>
              <li class="flex items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="text-base leading-normal">Analytics Dashboard</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Business -->
      <div
        class="flex flex-col h-full p-1 lg:py-1 rounded-3xl bg-accent-700 ring-4 ring-base-50 border border-base-200"
      >
        <div>
          <div
            class="flex flex-col gap-4 p-8 bg-white/10 rounded-[1.3rem] h-full"
          >
            <div class="flex items-start justify-between w-full">
              <div>
                <h3
                  class="text-lg leading-normal sm:text-xl md:text-2xl font-medium text-white"
                >
                  Business
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="p-8">
          <p
            class="font-semibold flex lg:text-3xl items-baseline text-2xl tracking-tighter text-white"
          >
            <span>$250</span>
            <span
              class="text-sm font-normal font-sans tracking-normal text-accent-100"
            >
              /month
            </span>
          </p>
          <div class="w-full mt-4">
            <button
              class="flex items-center justify-center transition-all duration-200 focus:ring-2 focus:outline-none text-base-500 bg-white hover:text-accent-500 ring-1 ring-base-200 focus:ring-accent-500 h-9 px-4 py-2 text-sm font-medium rounded-md w-full"
            >
              Select Plan
            </button>
          </div>
          <div class="mt-8">
            <p
              class="text-sm leading-normal font-medium uppercase text-base-200"
            >
              Business plan includes:
            </p>
            <ul class="flex flex-col mt-4 gap-y-3 text-base-200" role="list">
              <li class="flex items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="text-base leading-normal"
                  >100,000 questions/month (1 website)</span
                >
              </li>
              <li class="flex items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="text-base leading-normal">Analytics Dashboard</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
