<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Degass,  <span class="lg:block"
            >votre outil sur-mesure
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl tracking-tight text-slate-500 mx-auto">
          If you could kick the person in the pants responsible for most of your
          trouble, you wouldn't sit for a month
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Support client rapide et personnalisée
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            Finit les mails, service client directement via votre messagerie favorite (Messenger, WhatsApp, Instagram, etc.)
            <br> Garantie de réponse dans les 48h
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Installation personnalisée
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            Serveur et base de donnée privée chez l'hébergeur de votre choix (Hostinger, OVH, etc.)
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Mise à jour gratuite, pour toujours
            </p>
          </div><p class="text-slate-500 text-sm mt-4">
            L'outil est en constante évolution grâce à vos retours
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
