<section class="bg-white">
  <div
    class="items-center w-full px-8 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="max-w-2xl mx-auto lg:p-10 lg:text-center">
      <div>
        <span class="inline-flex items-center text-neutral-900">
          <span class="font-mono text-sm" aria-hidden="true">01</span><span
            class="ml-3 h-3.5 w-px bg-neutral-900"></span><span
            class="ml-3 text-base font-medium tracking-tight"
            >More features</span
          >
        </span>
        <p class="mt-8 text-5xl font-extrabold tracking-tight text-neutral-900">
          I am a slightly longer heading than the others
        </p>
        <p class="max-w-xl mt-4 text-lg tracking-tight text-neutral-600">
          If you could kick the person in the pants responsible for most of your
          trouble, you wouldn't sit for a month
        </p>
      </div>
    </div>
    <div class="items-center w-full">
      <img class="w-full rounded-3xl" src="/dashboard2.png" alt="" />
    </div>

    <div class="mx-auto pt-12">
      <div
        class="grid w-full grid-cols-1 mx-auto lg:grid-cols-3 gap-12 lg:gap-24">
        <div class="mx-auto">
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="flex items-center justify-center w-12 h-12 text-black rounded-xl bg-neutral-100">
              <ion-icon
                class="w-5 h-5 md hydrated"
                name="scan-outline"
                role="img"
                aria-label="scan outline"
              />
            </div>
            <p
              class="mt-4 text-lg font-medium leading-6 text-neutral-900 lg:mt-0">
              Developer experience
            </p>
          </div>
          <p class="mt-3 text-base text-neutral-500">
            I am so happy, my dear friend, so absorbed in the exquisite sense of
            mere tranquil existence, that I neglect my talents.
          </p>
          <div class="flex gap-3 mt-10 justify-left">
            <a
              class="inline-flex items-center justify-center text-sm font-semibold text-black duration-200 hover:text-accent-500 focus:outline-none focus-visible:outline-gray-600"
              href="#">
              <span> Read more</span>
              <ion-icon
                class="flex-none w-3 h-3 ml-3 fill-accent-600 group-active:fill-current md hydrated"
                name="arrow-forward-outline"
                role="img"
                aria-label="arrow forward outline"
              />
            </a>
          </div>
        </div>
        <div class="mx-auto">
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="flex items-center justify-center w-12 h-12 text-black rounded-xl bg-neutral-100">
              <ion-icon
                class="w-5 h-5 md hydrated"
                name="scan-outline"
                role="img"
                aria-label="scan outline"
              />
            </div>
            <p
              class="mt-4 text-lg font-medium leading-6 text-neutral-900 lg:mt-0">
              Designers go-to app
            </p>
          </div>
          <p class="mt-3 text-base text-neutral-500">
            I am so happy, my dear friend, so absorbed in the exquisite sense of
            mere tranquil existence, that I neglect my talents.
          </p>
          <div class="flex gap-3 mt-10 justify-left">
            <a
              class="inline-flex items-center justify-center text-sm font-semibold text-black duration-200 hover:text-accent-500 focus:outline-none focus-visible:outline-gray-600"
              href="#">
              <span> Read more</span>
              <ion-icon
                class="flex-none w-3 h-3 ml-3 fill-accent-600 group-active:fill-current md hydrated"
                name="arrow-forward-outline"
                role="img"
                aria-label="arrow forward outline"
              />
            </a>
          </div>
        </div>
        <div class="mx-auto">
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="flex items-center justify-center w-12 h-12 text-black rounded-xl bg-neutral-100">
              <ion-icon
                class="w-5 h-5 md hydrated"
                name="scan-outline"
                role="img"
                aria-label="scan outline"
              />
            </div>
            <p
              class="mt-4 text-lg font-medium leading-6 text-neutral-900 lg:mt-0">
              Easy onboarding
            </p>
          </div>
          <p class="mt-3 text-base text-neutral-500">
            I am so happy, my dear friend, so absorbed in the exquisite sense of
            mere tranquil existence, that I neglect my talents.
          </p>
          <div class="flex gap-3 mt-10 justify-left">
            <a
              class="inline-flex items-center justify-center text-sm font-semibold text-black duration-200 hover:text-accent-500 focus:outline-none focus-visible:outline-gray-600"
              href="#">
              <span> Read more</span>
              <ion-icon
                class="flex-none w-3 h-3 ml-3 fill-accent-600 group-active:fill-current md hydrated"
                name="arrow-forward-outline"
                role="img"
                aria-label="arrow forward outline"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
