<section class="bg-white">
  <div
    class="mx-auto w-full lg:px-16 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="mx-auto max-w-2xl lg:p-10 lg:text-center">
      <div>
        <span class="items-center inline-flex text-accent-500"
          ><span class="text-sm font-mono" aria-hidden="true">02</span><span
            class="ml-3 bg-accent-500 h-3.5 w-px"></span><span
            class="font-medium text-base ml-3 tracking-tight"
            >More features</span
          >
        </span><p class="font-extrabold text-5xl text-black font-display mt-8">
          I am a slightly longer heading than the others
        </p><p class="mt-4 text-lg max-w-xl tracking-tight text-gray-500">
          If you could kick the person in the pants responsible for most of your
          trouble, you wouldn't sit for a month
        </p>
      </div>
    </div><div class="items-center w-full">
      <img alt="" class="rounded-3xl w-full" src="/dashboard2.png" />
    </div><div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-black bg-gray-100 rounded-xl flex h-12 w-12">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-medium leading-6 text-black font-display lg:text-2xl lg:mt-0">
              Developer experience
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            I am so happy, my dear friend, so absorbed in the exquisite sense of
            mere tranquil existence, that I neglect my talents.
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-black bg-gray-100 rounded-xl flex h-12 w-12">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-medium leading-6 text-black font-display lg:text-2xl lg:mt-0">
              Designers go-to app
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            I am so happy, my dear friend, so absorbed in the exquisite sense of
            mere tranquil existence, that I neglect my talents.
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-black bg-gray-100 rounded-xl flex h-12 w-12">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-5 w-5"
                name="scan-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-medium leading-6 text-black font-display lg:text-2xl lg:mt-0">
              Easy onboarding
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            I am so happy, my dear friend, so absorbed in the exquisite sense of
            mere tranquil existence, that I neglect my talents.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
