<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          
          Une plateforme, <span class="lg:block"
            >toutes les fonctionnalités dont vous avez besoin.
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500">
          Après 4 ans de partenariat avec une école d'ingénieur et plus de 1100 étudiants satisfait, 
          Degass répond aux besoins des écoles supérieures.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3">
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="calendar-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Créer des évènements
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Tout types d'évènements, du petit repas au week-end d'inté.
                la seule limite est votre imagination
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="megaphone-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Informer les participants
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Une page accessible à tous regroupant les évènements de vos clubs/assos,
                avec la possibilité de voir qui y est inscrit et dans quelle navette !
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="qr-code-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Accueiller vos participants
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Scannez les places de vos particpants
                Vérifier rapidemment qu'ils sont dans la bonne navette 
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="speedometer-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Gérer votre évènements
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Gérer les inscriptions de chacun de vos participants, renvoyer leurs places, valider virtuellement des inscriptions,
                on a pensé à tout ! 
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="people-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Créer vos clubs/assos
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Un nom, un président et un insta !
                Tout asso ou club les plus improbables trouveront leur place sur Degass
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="accessibility-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Attribuer des rôles
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Après avoir créer vos clubs/assos et attribuer leurs présidents, ceux-ci pourront attribuer les différents rôles de chacun de leurs membres
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
