<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          I am a slightly longer <span class="lg:block"
            >heading than the others
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500">
          If you could kick the person in the pants responsible for most of your
          trouble, you wouldn't sit for a month
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3">
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Built with Astro.js.
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Astro is an all-in-one web framework for building fast,
                content-focused websites.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Styled with Tailwind CSS.
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Tailwind CSS generates styles by searching for class names in
                HTML, JavaScript, and templates, and then outputs them in a
                single CSS file.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Relived with Alpine.js
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Alpine is a rugged, minimal tool for for adding behavior to your
                markup, similar to jQuery but for the modern web.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Keyboard accessible.
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Everything I build is keyboard accessible, and I meticulously
                write the markup to deliver the best screenreader experience I
                can provide.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Production-ready
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                I tested the template in the latest versions of all browsers to
                handle lots of edge-cases you might encounter.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Simple deploys
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                The template is ready for production and can be deployed
                anywhere static websites can, such as Vercel, Netlify, or GitHub
                Pages, and more.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
