@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Bricolage Grotesque", sans-serif;
  --color-black: #121212;
  --color-blue-50: #EBEDFF;
  --color-accent-50: #EBEDFF;
  --color-accent-100: #D6DAFF;
  --color-accent-200: #A8B1FF;
  --color-accent-300: #808CFF;
  --color-accent-400: #5263FF;
  --color-accent-500: #283CFF;
  --color-accent-600: #0017EB;
  --color-accent-700: #0012B3;
  --color-accent-800: #000C75;
  --color-accent-900: #00063D;

}
/* CSS */
:root {
  font-family: Inter, sans-serif;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}