<section aria-labelledby="faq-title" id="faq">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div class="max-w-2xl">
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
          Questions fréquentes
        </p>
        <p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Contactez moi pour plus de détails
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Quels sont les types d'événements que je peux organiser avec Degass ?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis varius metus. Ut eleifend, mauris nec dapibus malesuada, sapien libero aliquet est, quis sagittis ligula nisi et elit. Pellentesque non neque auctor, molestie nulla nec, congue turpis. Ut consectetur, sem ut mattis ornare, mi nunc faucibus mauris, eu pharetra nibh turpis quis felis. Aenean ac finibus turpis. Donec at efficitur leo. Praesent libero risus, facilisis vel tempor ac, tempor eu augue.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Je suis interessé par Degass, comment se passe l'Installation au sein de mon école ?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis varius metus. Ut eleifend, mauris nec dapibus malesuada, sapien libero aliquet est, quis sagittis ligula nisi et elit. Pellentesque non neque auctor, molestie nulla nec, congue turpis. Ut consectetur, sem ut mattis ornare, mi nunc faucibus mauris, eu pharetra nibh turpis quis felis. Aenean ac finibus turpis. Donec at efficitur leo. Praesent libero risus, facilisis vel tempor ac, tempor eu augue.
            </p>
            <p class="text-slate-500 text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis varius metus. Ut eleifend, mauris nec dapibus malesuada, sapien libero aliquet est, quis sagittis ligula nisi et elit. 
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Les données des étudiants sont-elles protégés ?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis varius metus. Ut eleifend, mauris nec dapibus malesuada, sapien libero aliquet est, quis sagittis ligula nisi et elit. Pellentesque non neque auctor, molestie nulla nec, congue turpis. Ut consectetur, sem ut mattis ornare, mi nunc faucibus mauris, eu pharetra nibh turpis quis felis. Aenean ac finibus turpis. Donec at efficitur leo. Praesent libero risus, facilisis vel tempor ac, tempor eu augue.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Une autre question ?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis varius metus. Ut eleifend, mauris nec dapibus malesuada, sapien libero aliquet est, quis sagittis ligula nisi et elit. Pellentesque non neque auctor, molestie nulla nec, congue turpis. Ut consectetur, sem ut mattis ornare, mi nunc faucibus mauris, eu pharetra nibh turpis quis felis. Aenean ac finibus turpis. Donec at efficitur leo. Praesent libero risus, facilisis vel tempor ac, tempor eu augue.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
