---
import BaseHead from "../components/BaseHead.astro";
---

<html
  lang="en"
  class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated">
  <head>
    <BaseHead />
  </head>

  <body class="bg-white">
    <slot />
  </body>
</html>
