<section class="bg-neutral-50">
  <div
    class="relative items-center w-full px-5 py-12 lg:py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="flex w-full mx-auto text-left">
      <div class="relative inline-flex items-center m-auto align-middle">
        <div class="relative overflow-hidden text-left">
          <div class="relative max-w-lg text-center">
            <div>
              <p class="text-5xl font-extrabold text-black">
                Start your free trial
              </p>
              <p class="max-w-xl mt-4 text-lg tracking-tight text-neutral-500">
                Join over 4,000+ startups already growing with Untitled.
              </p>
            </div>
            <div class="flex gap-3 mt-10 justify-center mx-auto">
              <a
                class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white duration-200 bg-black border-2 border-black hover:bg-transparent hover:border-black rounded-xl hover:text-black focus:outline-none lg:w-auto focus-visible:outline-black focus-visible:ring-black"
                href="#">Learn more</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
