<section
  class="relative mx-auto w-full lg:px-16 max-w-7xl md:px-12 items-center px-8 py-24"
  id="bundle"
  aria-label="bundle">
  <div class="bg-black rounded-3xl overflow-hidden mx-auto">
    <div class="relative px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-4">
      <div class="grid items-end text-center">
        <div>
          <h2
            class="w-full mt-4 text-4xl font-semibold tracking-tight text-white font-display lg:text-5xl">
            Prêt à simplifier l'organisation <span class="lg:block">de vos événements ?</span>
          </h2>
        </div>
        <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
          <a
            class="items-center justify-center font-medium rounded-xl text-black focus-visible:outline-white focus:outline-none inline-flex bg-white border-2 border-white duration-200 focus-visible:ring-black hover:bg-transparent hover:border-white hover:text-white lg:w-auto px-6 py-3 text-center w-full"
            href="https://lexingtonthemes.com/">
            Demander une démo
          </a>
        </div>
      </div>
    </div>
    <img class="" src="./lexington.png" alt="" />
  </div>
</section>
