<section>
  <div class="lg:px-16 max-w-7xl md:px-12 items-center px-8 py-24 mx-auto">
    <div
      class="border p-10 bg-black rounded-3xl mx-auto w-full lg:px-16 max-w-7xl md:px-12 items-center px-8 py-12">
      <div
        class="grid grid-cols-1 lg:grid-cols-3 justify-between w-full items-center">
        <div class="lg:col-span-2">
          <p
            class="font-extrabold text-5xl lg:text-7xl text-white font-display">
            Start your free trial
          </p>
          <p class="mt-4 text-white text-lg tracking-tight">
            Join over 4,000+ startups already growing with Untitled.
          </p>
        </div>
        <div class="lg:ml-auto">
          <a
            class="items-center justify-center rounded-xl focus-visible:outline-white focus:outline-none inline-flex bg-white border-2 border-white duration-200 focus-visible:ring-white hover:bg-transparent hover:border-white hover:text-white lg:w-auto px-6 py-3 text-center text-black font-medium w-full"
            href="#">Learn more</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
