<footer>
  <div class="items-center px-8 mx-auto py-12 gh:py-24 md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl ">
    <div class="grid grid-cols-2 gap-8 border-y py-12   xl:col-span-3">
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h3 class="text-base text-black font-medium tracking-tight">All pages</h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a href="/h" class="text-xs text-gray-400 hover:text-black">
                Home
              </a>
            </li>
            <li>
              <a href="/faq" class="text-xs text-gray-400 hover:text-black">
                FAQ
              </a>
            </li>
            <li>
              <a href="/terms" class="text-xs text-gray-400 hover:text-black">
                Terms
              </a>
            </li>
            <li>
              <a href="/privacy" class="text-xs text-gray-400 hover:text-black">
                Privacy
              </a>
            </li>
            <li>
              <a href="/signup" class="text-xs text-gray-400 hover:text-black">
                Sign up
              </a>
            </li>
            <li>
              <a href="/signup" class="text-xs text-gray-400 hover:text-black">
                Sign In
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-base text-black font-medium tracking-tight">Resources</h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a href="https://github.com/michael-andreuzza/astrosaas" class="text-xs text-gray-400 hover:text-black">
                GitHub repo
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h3 class="text-base text-black font-medium tracking-tight">More themes</h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a href="https://lexingtonthemes.com/" class="text-xs text-gray-400 hover:text-black">
                Lexington Themes
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-base text-black font-medium tracking-tight">Socials</h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a href="https://x.com/lexingtonthemes" class="text-xs text-gray-400 hover:text-black">
                @lexingtonthemes
              </a>
            </li>
            <li>
              <a href="https://x.com/Mike_Andreuzza" class="text-xs text-gray-400 hover:text-black">
                @Mike_Andreuzza
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
