<footer aria-labelledby="footer-heading" class="mx-auto">
  <div class="mx-auto max-w-7xl relative items-center lg:px-36 md:px-12 py-12">
    <div
      class="mx-auto flex flex-col gap-y-12 items-start justify-between l lg:flex-row lg:items-center pb-6">
      <div class="mx-auto flex text-center items-center">
        <div>
          <p
            class="text-black font-bold hover:text-moonlightStone italic lg: lg:text-4xl text-2xl">
            astrosaas.
          </p><p class="text-black mx-auto text-sm mt-1 max-w-xs">
            Designed and built in the Åland Islands by Michael Andreuzza.
          </p>
        </div>
      </div>
    </div>
    <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-blue-600">
          About
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-blue-600">
          Contact
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-blue-600">
          Pricing
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-blue-600">
          Github
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-blue-600">
          Social
        </a>
      </div>
    </nav><div
      class="mx-auto flex flex-col border-t border-white/10 md:pt-6 pt-8 text-center">
      <p class="text-black mt-6 lg:w-1/2 md:mt-0 mx-auto text-sm">
        © Michael Andreuzza • Copyright 2022 • All rights reserved.
      </p>
    </div>
  </div>
</footer>
