---
const sections = [
  {
    title: "Product",
    links: [
      { name: "Features", href: "/#features" },
      { name: "Pricing", href: "/#pricing" },
      { name: "FAQ", href: "/faq" },
      { name: "Go to App", href: "https://app.productgenie.io" },
    ],
  },
  {
    title: "Resources",
    links: [
      { name: "Documentation", href: "/docs" },
      { name: "API Reference", href: "/api" },
      { name: "Integration Guide", href: "/integration" },
    ],
  },
  {
    title: "Legal",
    links: [
      { name: "Privacy Policy", href: "/privacy" },
      { name: "Terms of Service", href: "/terms" },
    ],
  },
  {
    title: "Company",
    links: [
      { name: "About Us", href: "/about" },
      { name: "Contact", href: "/contact" },
    ],
  },
];
---

<footer>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a
        href="/"
        class="xl:col-span-1 text-black inline-flex items-center gap-2"
      >
        <img
          src="/images/magic_lamp.svg"
          alt="ProductGenie Logo"
          class="h-12 w-auto"
        />
        <div class="flex flex-col items-start text-left leading-none">
          <span class="text-black text-2xl font-bold tracking-tight">Product</span>
          <span class="text-[#9d74ed] text-2l font-bold tracking-tight -mt-2">Genie</span>
        </div>
      </a>
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 text-sm leading-normal text-base-500 font-medium lg:col-span-3"
      >
        {
          sections.map(({ title, links }) => (
            <div class="mt-12 md:mt-0">
              <h3 class="text-lg text-black font-medium tracking-tight">
                {title}
              </h3>
              <ul role="list" class="mt-4 space-y-1">
                {links.map(({ name, href }) => (
                  <li>
                    <a href={href} class="hover:text-black">
                      {name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</footer>
<footer class="bg-white">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6"
  >
    <div class="border-t pt-6 border-base-200">
      <p class="text-xs text-base-500 lg:col-span-2">
        © {new Date().getFullYear()} ProductGenie All rights reserved.
      </p>
    </div>
  </div>
</footer>
