<footer aria-labelledby="footer-heading" class="border-t bg-black">
  <h2 id="footer-heading " class="sr-only">Footer</h2>
  <div
    class="px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32"
  >
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="text-white xl:col-span-3">
        <span class="text-lg font-semibold lg:text-2xl">Supreme</span>
        <p class="lg:w-1/4 mt-2 text-sm text-zinc-400">
          <span class="mt-6 text-sm font-normal text-zinc-500">
            Free and Premium UI Kit's built with Astro and Tailwind CSS.
          </span>
        </p>
      </div>
      <div class="grid grid-cols-2 gap-8 mt-12 lg:mt-24 xl:col-span-3">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-xl text-white">Navigation</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="/demo-pages"
                  class="text-sm text-zinc-400 hover:text-white"
                >
                  Demo Pages
                </a>
              </li>

              <li>
                <a
                  href="/style-guide"
                  class="text-sm text-zinc-400 hover:text-white"
                >
                  Style Guide
                </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-xl text-white">Other projects</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://www.monoqrom.unwrapped.design"
                  class="text-sm text-zinc-400 hover:text-white"
                >
                  monoqrom.
                </a>
              </li>
              <li>
                <a
                  href="https://www.acclivity.unwrapped.design"
                  class="text-sm text-zinc-400 hover:text-white"
                >
                  acclivity.
                </a>
              </li>

              <li>
                <a
                  href="https://www.unwrapped.design"
                  class="text-sm text-zinc-400 hover:text-white"
                >
                  Unwrapped
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-xl text-white">Stay updated</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://www.supremeuikits.com/license"
                  class="text-sm text-zinc-400 hover:text-white"
                >
                  License
                </a>
              </li>
              <li>
                <a
                  href="https://www.supremeuikits.com/documentation"
                  class="text-sm text-zinc-400 hover:text-white"
                >
                  Documentation
                </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-xl text-white">Socials</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://twitter.com/unwrappedHQ"
                  class="text-sm text-zinc-400 hover:text-white"
                >
                  @unwrappedHQ
                </a>
              </li>
              <li>
                <a
                  href="https://twitter.com/Mike_Andreuzza"
                  class="text-sm text-zinc-400 hover:text-white"
                >
                  @Mike_Andreuzza
                </a>
              </li>
              <li>
                <a
                  href="https://dribbble.com/MichaelAndreuzza.html"
                  class="text-sm text-zinc-400 hover:text-white"
                >
                  Dribbble
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="bg-black border-t border-zinc-900">
  <div
    class="px-8 py-3 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20"
  >
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex justify-center space-x-6 md:order-2">
        <a
          href="https://twitter.com/unwrappedHQ"
          class="p-3 text-sm text-zinc-400 transition duration-500 ease-in-out transform hover:text-white"
        >
          <span class=""> @unwrappedHQ</span>
        </a>
      </div>
      <div class="mt-8 md:mt-0 md:order-1">
        <p class="text-center">
          <span class="mx-auto mt-2 text-sm text-zinc-400">
            © 2022 Unwrapped Design. All rights reserved
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>
