<section class="bg-white border-b border-black/5">
  <div class="w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="lg:pr-8 text-black inline-flex items-center gap-3">
          <img
            width="50"
            height="49"
            src="/degass_logo.png"
          />
          <span class="font-bold font-display">Degass</span>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-slate-400 hover:text-black focus:outline-none focus:text-black lg:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400 lg:ml-auto"
          href="/#features">Fonctionnalités</a
        >
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
          href="/#pricing">Tarifs</a
        >

        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
          href="/faq">
          FAQ</a
        >

        <!-- <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
          <a
            href="/signup"
            class="block px-4 py-2 mt-2 text-sm font-medium text-black md:mt-0 hover:text-accent-400 focus:outline-none focus:shadow-outline">
            Sign up
          </a>
          <a
            href="/login"
            class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-black bg-slate-100 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-slate-50 active:bg-slate-200 active:text-accent-400 focus-visible:outline-black">
            Log in
          </a>
        </div> -->
      </nav>
    </div>
  </div>
</section>
