<section class="bg-white border-b">
  <div class="w-full mx-auto md:px-12 lg:px-16 px-8 max-w-7xl">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full p-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="lg:pr-8 text-black">
          <svg
            class="w-10 h-10"
            viewBox="0 0 125 116"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M63.3549 114.536L125 70.7495L101.336 0.857422H23.6642L0 70.7495L0.892857 71.3837V71.603H1.2016L62.5 115.143L63.3398 114.547L63.3502 114.55L63.3549 114.536ZM62.0875 112.723L75.8753 71.603H4.19614L62.0875 112.723ZM2.1661 69.8955H46.8502L24.5311 3.84057L2.1661 69.8955ZM25.9767 2.56487H98.3082L39.6379 42.9964L25.9767 2.56487ZM100.288 3.3054L64.0269 28.2939L122.359 68.4922L100.288 3.3054ZM122.288 70.5485L64.291 111.744L86.3975 45.8149L122.288 70.5485ZM40.2148 44.7036L48.7268 69.8955H76.4478L84.8742 44.7651L62.4998 29.3462L40.2148 44.7036Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M63.3549 114.536L125 70.7495L101.336 0.857422H23.6642L0 70.7495L0.892857 71.3837V71.603H1.2016L62.5 115.143L63.3398 114.547L63.3502 114.55L63.3549 114.536ZM62.0875 112.723L75.8753 71.603H4.19614L62.0875 112.723ZM2.1661 69.8955H46.8502L24.5311 3.84057L2.1661 69.8955ZM25.9767 2.56487H98.3082L39.6379 42.9964L25.9767 2.56487ZM100.288 3.3054L64.0269 28.2939L122.359 68.4922L100.288 3.3054ZM122.288 70.5485L64.291 111.744L86.3975 45.8149L122.288 70.5485ZM40.2148 44.7036L48.7268 69.8955H76.4478L84.8742 44.7651L62.4998 29.3462L40.2148 44.7036Z"
              fill="currentColor"
              fill-opacity="0.2"></path>
          </svg>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-neutral-400 hover:text-neutral-900 focus:outline-none focus:text-neutral-900 lg:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
          <a
            href="/pricing"
            class="inline-flex items-center justify-center px-4 py-2 text-base font-medium text-black bg-neutral-100 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-neutral-50 active:bg-neutral-200 active:text-accent-400 focus-visible:outline-black">
            Pricing
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
