<section class="bg-white border-b border-black/5">
  <div class="w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6"
    >
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="text-black inline-flex items-center gap-3">
          <svg
            class="h-4"
            viewBox="0 0 78 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M55.5 0H77.5L58.5 32H36.5L55.5 0Z"
              class="ccustom"
              fill="#283CFF"></path>
            <path
              d="M35.5 0H51.5L32.5 32H16.5L35.5 0Z"
              class="ccompli1"
              fill="#5263FF"></path>
            <path
              d="M19.5 0H31.5L12.5 32H0.5L19.5 0Z"
              class="ccompli2"
              fill="#808CFF"></path>
          </svg>
          <span class="font-bold font-display">AstroSaas</span>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-base-400 hover:text-black focus:outline-none focus:text-black md:hidden"
        >
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow gap-3 hidden md:pb-0 md:flex md:justify-end md:flex-row"
      >
        <a
          class=" text-sm font-medium text-black hover:text-accent-600 lg:ml-auto"
          href="/#features">Features</a
        >
        <a
          class=" text-sm font-medium text-black hover:text-accent-600"
          href="/#pricing">Pricing</a
        >

        <a
          class=" text-sm font-medium text-black hover:text-accent-600"
          href="/faq"
        >
          Faq</a
        >

        <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
          <a
            href="/signup"
            class="flex items-center justify-center transition-all duration-200 focus:ring-2 focus:outline-none text-base-500 bg-white hover:text-accent-500 ring-1 ring-base-200 focus:ring-accent-500 h-8 px-4 py-2 text-xs font-medium rounded-md"
          >
            Sign up
          </a>
          <a
            href="/login"
            class="flex items-center justify-center transition-all duration-200 ring-1 focus:ring-2 ring-base-100 focus:outline-none text-base-700 bg-base-50 hover:bg-white focus:ring-base-500/50 h-8 px-4 py-2 text-xs font-medium rounded-md"
          >
            Log in
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
