<section aria-labelledby="pricing-two" id="pricing-two">
  <div
    class="items-center w-full px-8 pt-36 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="sm:text-center">
      <p class="text-4xl font-extrabold text-neutral-900 font-display"></p>
      <h2
        class="mt-6 text-4xl font-extrabold text-neutral-900 font-display lg:mx-auto">
        Always know what you’ll pay,

        <span class="lg:block"> transparent pricing for everyone.</span>
      </h2>
    </div>
  </div>
  <div
    class="items-center w-full px-8 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div
      class="grid max-w-2xl grid-cols-1 py-4 mt-16 -mx-4 sm:grid-cols-2 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-4 xl:gap-x-4 lg:bg-neutral-100 lg:rounded-3xl">
      <section class="flex flex-col px-6 rounded-3xl sm:px-8 lg:py-8">
        <h3 class="mt-5 text-lg text-neutral-900 font-display">Greedy</h3>
        <p class="mt-2 text-sm text-neutral-500">
          Amazing for those attached to money with glue
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-neutral-900 font-display">
          $0
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-neutral-500 gap-y-3">
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Connect 1 websites</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Connect up to 1 bank accounts</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Track up to 1 credit cards</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Analytics support</span>
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-black transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Wannabe tier"
          href="/register">Get started</a
        >
      </section>
      <section class="flex flex-col px-6 rounded-3xl sm:px-8 lg:py-8">
        <h3 class="mt-5 text-lg text-neutral-900 font-display">Wannabe</h3>
        <p class="mt-2 text-sm text-neutral-500">
          Good for those trying to get there, but are too far from it.
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-neutral-900 font-display">
          $2
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-neutral-500 gap-y-3">
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Connect 1 websites</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Connect up to 2 bank accounts</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Track up to 15 credit cards</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Analytics support</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Export up to 3 months data</span>
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-black transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Wannabe tier"
          href="/register">Get started</a
        >
      </section>
      <section
        class="flex flex-col order-first px-6 py-8 rounded-3xl sm:px-8 bg-black lg:-mt-24 lg:order-none">
        <h3 class="mt-5 text-lg text-white font-display">Indie Hacker</h3>
        <p class="mt-2 text-sm text-accent-100">
          Perfect for those leaving 9-5 and working 24/7.
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-white font-display">
          $29
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-white gap-y-3">
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Connect 80 websites</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Connect up to 5 bank accounts</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Track up to 50 credit cards</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Analytics support</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Export up to 12 months data</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Cloud service 24/7</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Track in multiple users</span>
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border-2 border-white hover:bg-transparent hover:border-white rounded-xl hover:text-white focus:outline-none"
          aria-label="Indie hacker tier"
          href="/register">Get started</a
        >
      </section>
      <section class="flex flex-col px-6 rounded-3xl sm:px-8 lg:py-8">
        <h3 class="mt-5 text-lg text-neutral-900 font-display">Big fish</h3>
        <p class="mt-2 text-sm text-neutral-500">
          For even the biggest enterprise companies.
        </p>
        <p
          class="order-first text-5xl font-light tracking-tight text-neutral-900 font-display">
          $99
        </p>
        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-neutral-500 gap-y-3">
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Connect unlimited websites</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Connect up to 15 bank accounts</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Track up to 200 credit cards</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Analytics support</span>
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"
            /><span class="ml-4">Export up to 24 months data</span>
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-black transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Big fish tier"
          href="/register">Get started</a
        >
      </section>
    </div>
    <div
      class="items-center w-full px-8 pt-12 mx-auto md:px-12 lg:px-16 max-w-7xl">
      <div class="mx-auto">
        <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-6 lg:mt-8">
          <div class="flex justify-center col-span-1 px-8">
            <img class="max-h-12" src="/Figma.svg" alt=" logo" />
          </div>
          <div class="flex justify-center col-span-1 px-8">
            <img class="max-h-12" src="/Canva.svg" alt="logo" />
          </div>
          <div class="flex justify-center col-span-1 px-8">
            <img class="max-h-12" src="/Stripe.svg" alt="logo" />
          </div>
          <div class="flex justify-center col-span-1 px-8">
            <img class="max-h-12" src="/Gitlab.svg" alt="logo" />
          </div>
          <div class="flex justify-center col-span-1 px-8">
            <img class="max-h-12" src="/Linear.svg" alt="logo" />
          </div>
          <div class="flex justify-center col-span-1 px-8">
            <img class="max-h-12" src="/Gumroad.svg" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
