<section class="bg-neutral-100">
  <div
    class="items-center w-full px-8 py-20 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="mx-auto md:text-center">
      <div class="flex justify-center col-span-1 px-8">
        <img class="max-h-12" src="/Stripe.svg" alt="logo" />
      </div>
      <h2 class="text-4xl mt-8 lg:text-7xl font-extrabold text-neutral-900">
        Astrosaas is loved all around SaaS and it wont leave you dissapointed
      </h2>
    </div>

    <div class="max-w-2xl mx-auto pt-12">
      <div class="text-center">
        <img
          alt=""
          class="object-cover w-10 h-10 mx-auto mt-6 rounded-full lg:h-20 lg:w-20"
          src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        />

        <div class="justify-center mt-4 space-y-4">
          <p class="text-sm font-medium text-neutral-500">
            Sam Samuel, Lead marketing specialist -
            <span class="font-medium text-accent-500">Company</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
