<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center max-w-4xl mx-auto">
      <div>
        <blockquote
          class="text-2xl leading-tight tracking-tight sm:text-3xl md:text-4xl lg:text-5xl text-base-900 italic font-medium"
        >
          "Being in the financial industry, we were always looking for ways to
          enhance our transactions' security and efficiency."
        </blockquote>
      </div>
      <figcaption class="flex text-left justify-center mt-8">
        <div class="flex items-center gap-4">
          <img
            class="object-cover rounded-full size-12"
            src="https://oxbowui.com/avatars/1.jpg"
            alt="#_"
          />
          <div>
            <h3 class="text-base leading-normal text-base-900 font-medium">
              Fernando Monte
            </h3>
            <p class="text-xs leading-normal text-base-400 font-medium">
              Designer
            </p>
          </div>
        </div>
      </figcaption>
    </div>
  </div>
</section>
