<section class="bg-slate-100">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="max-w-2xl mx-auto md:text-center">
      <h2 class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
        Rejoignez ceux qui nous ont fait confiance !
      </h2>
    </div>
    <ul
      role="list"
      class="grid max-w-2xl grid-cols-1 gap-6 mx-auto mt-16 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-3">
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Degass a été très utile pour mon équipe et moi même, ça simplifie beaucoup de choses ! 
                  En plus, service après vente est vraiment top Je recommande !
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display">
                    Agathe Béjaud
                  </div>
                  <div class="mt-1 text-sm text-slate-500">
                    BDE Onnea
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt=""
                    src="/public/testimonials/agathe.jpg"
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Un outil aussi intuitif que puissant ! Grâce à Degass, notre gestion d'événements n'a jamais été aussi simple et efficace. Bravo !
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display">
                    Guillaume Cren
                  </div>
                  <div class="mt-1 text-sm text-slate-500">
                    Responsable clubs Onnea
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt=""
                    src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  L'organisation de nos événements avec Degass est un pur bonheur. C'est un outil intuitif, fiable et extrêmement pratique. On recommande vivement !
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display">
                    Barbara Szykula
                  </div>
                  <div class="mt-1 text-sm text-slate-500">
                    BDE Kronos
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt=""
                    src="/testimonials/barbara.jpg"
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  yessss
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display">
                    Mattéo Guiziou
                  </div>
                  <div class="mt-1 text-sm text-slate-500">BDS Wolf</div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt=""
                    src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Degass est un véritable atout pour notre BDE, facilitant la planification et l'organisation de nos événements avec une efficacité inégalée. Un indispensable !
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100">
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display">
                    Erwan Hascoet
                  </div>
                  <div class="mt-1 text-sm text-slate-500">
                    BDE Oryx
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt=""
                    src="../../../public/testimonials/erwan.jpg"
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
