<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div>
      <p
        class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
      >
        Discover the experiences and <span class="sm:block"
          >feedback from satisfied customers</span
        >
      </p>
    </div>
    <ul
      class="mt-12 lg:mt-24 grid grid-cols-1 gap-4 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3"
    >
      <li>
        <div class="h-full flex flex-col justify-between">
          <div>
            <div class="flex gap-x-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
            <p class="lg:text-sm text-gray-500 mt-4">
              "I've always been concerned about privacy online, but since using
              this platform, I feel more empowered and in control of my personal
              data."
            </p>
          </div>
          <footer class="mt-8">
            <p class="lg:text-sm text-gray-500 font-display">Michael A</p>
            <img class="h-8 mt-4" src="/assets/brands/Attentive.svg" alt="" />
          </footer>
        </div>
      </li>
      <li>
        <div class="h-full flex flex-col justify-between">
          <div>
            <div class="flex gap-x-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
            <p class="lg:text-sm text-gray-500 mt-4">
              "As a professional working with sensitive information, I needed a
              communication solution that prioritizes security"
            </p>
          </div>
          <footer class="mt-8">
            <p class="lg:text-sm text-gray-500 font-display">John D</p>
            <img class="h-8 mt-4" src="/assets/brands/Coinbase.svg" alt="" />
          </footer>
        </div>
      </li>
      <li>
        <div class="h-full flex flex-col justify-between">
          <div>
            <div class="flex gap-x-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-star stroke-accent-500"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="none"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
            <p class="lg:text-sm text-gray-500 mt-4">
              "As a digital nomad, maintaining my privacy while communicating is
              crucial. This platform has become my go-to choice for secure
              messaging."
            </p>
          </div>
          <footer class="mt-8">
            <p class="lg:text-sm text-gray-500 font-display">Emily R</p>
            <img class="h-8 mt-4" src="/assets/brands/Figma.svg" alt="" />
          </footer>
        </div>
      </li>
    </ul>
  </div>
</section>
